@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <section>
        <div class="container text-center" style="padding-top: 20px;">
            <h1 class="s-header"><strong>GET STARTED - INSTALL SCAPIG</strong></h1>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">
                    Download <a href="https://raw.githubusercontent.com/scapig/scripts/master/docker-compose.yml" download>docker-compose.yml</a>.<br/>
                    You can then start Scapig with the following docker swarm commands.
                    <pre>docker swarm init<br/>docker stack deploy --compose-file docker-compose.yml scapig</pre>
                </div>
            </div>
        </div>
    </section>
}

@include.template("Scapig - Get Started", main)
