@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <section>
        <div class="container text-center" style="padding-top: 20px;">
            <h1 class="s-header"><strong>GET STARTED - PUBLISH API</strong></h1>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">
                    You can publish an API from the RAML file with the following command
                    <pre>curl -XPOST http://localhost:8040/publish --data &#64;ramlFile</pre>
                    An example of ramlFile can be found <a href="https://raw.githubusercontent.com/scapig/api-example/master/conf/hello-world.raml">here</a>
                </div>
            </div>
        </div>
    </section>
}

@include.template("Scapig - Get Started", main)
