#global-header {
    background-color: #0b0c0c;
    width: 100%;
}

#global-header .header-wrapper {
    max-width: 990px;
    margin: 0 auto;
    padding: 0.5em 15px;
}

body {
    font-size: 160%;
    font-family: "nta",Arial,sans-serif;
    color: #0b0c0c;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

#global-header .header-wrapper .header-global {
    float: left;
    width: 33.33%;
}

#global-header .header-wrapper .header-proposition {
    width: 66.66%;
    float: left;
}

div {
    display: block;
}

#global-header .header-wrapper:after, #global-header .header-wrapper .header-global:after, #global-header .header-wrapper .header-global .header-logo:after, #global-header .header-proposition #proposition-links:after {
    content: "";
    display: block;
    clear: both;
}

.header__menu__proposition-name {
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    color: #fff;
}

#global-header .header-proposition #proposition-links li a {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
}

#global-header .header-proposition #proposition-links li a {
    color: white;
    text-decoration: none;
}

.inline-block {
    display: inline-block !important;
}

.align--middle {
    vertical-align: middle !important;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#global-header .header-proposition #proposition-links li {
    float: left;
    display: block;
    width: auto;
    padding: 0 15px 0 0;
    border-bottom: 0;
}

#global-header #logo {
    float: left;
    position: relative;
    top: 1px;
    height: 30px;
    overflow: visible;
    vertical-align: baseline;
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 1em;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    margin-bottom: -1px;
    padding-bottom: 1px;
}

.centered-content {
    display: block;
    max-width: 960px;
    margin: 0 auto;
    padding: 0em .78947em 0em .78947em;
    line-height: 1.5;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-transform: none;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-padding-start: 0.5em;
}

.service-info {
    border-top: 10px solid #005ea5;
    padding: 30px 0 0 0;
    border-bottom: 1px solid #bfc1c3;
}

#wrapper {
    padding-bottom: 90px;
    text-align: left;
}

.service-info .header__menu__proposition-links {
    float: right;
    margin-top: -1.5em;
}

.service-info .header__menu__proposition-links .link-style {
    color: #005ea5;
    font-weight: normal;
    text-decoration: underline;
}

.header__menu__proposition-links li {
    display: inline;
    padding-right: .78947em;
}

.button:link, .button:hover, .button:focus, .button:visited {
    color: #fff;
}

.button {
    text-transform: capitalize;
    background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0.35em 0.5em 0.15em 0.5em;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    box-shadow: 0 2px 0 #003618;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    margin: 0 .78947em 0 0;
}

.button:visited {
    background-color: #00823b;
}

.button:link, .button:hover, .button:focus, .button:visited {
    color: #fff;
}

.button:visited {
    background-color: #00823b;
}

.linkButton {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    font-size: 19px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.57895em;
    width: 100%;
}

.grid-layout__fullwidth{
    width: 100%;
}

table th {
    font-weight: 700;
}

table th, table td {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    text-transform: none;
    padding: .73684em 1.05263em .52632em 0;
    text-align: left;
    color: #0b0c0c;
    border-bottom: 1px solid #bfc1c3;
}

.form-field-group, .form-field-single {
    margin-bottom: 0.75em;
    line-height: 1.6em;
    clear: both;
}

.form-field {
    float: left;
    width: 100%;
    margin: 0 0 1.57895em 0;
}

.label--full-length {
    width: 100%;
    clear: both;
    display: inline-block;
    margin-top: 0.2em;
    min-width: 130px;
}

input {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    background-color: #fff;
    border: 2px solid #6f777b;
    margin: 0;
    padding: 0.1em 0 0.1em 0.4em;
    box-sizing: border-box;
}

textarea {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    background-color: #fff;
    border: 2px solid #6f777b;
    margin: .52632em 0;
    padding: 0.1em 0 0.1em 0.4em;
    box-sizing: border-box;
}

.error-notification {
    color: #af1324;
}

.tabs-nav {
    margin: 2em 0 1em 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 0 !important;
    width: 100%;
}

.tab {
    display: inline-block;
}

.tabs-nav .tabs-nav__tab {
    display: inline-block;
    margin: 0 .15789em 0 0;
    padding: 0.7em 0.8em;
    border-top: none;
}

.tabs-nav .tabs-nav__tab--active {
    height: 2.84211em;
    padding: .7em .7em 1.7em .7em;
    border: 1px solid #bfc1c3;
    border-bottom: 0px;
    z-index: 2;
    color: #0b0c0c;
    background-color: #fff;
    transition: none;
    position: relative;
}

ul {
    display: block;
    list-style-type: none;
    padding: 0;
}

ul li {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
}

.tabs-nav:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    z-index: 1;
    width: 100%;
}

.tabs-nav .tabs-nav__tab:visited {
    color: #005ea5;
}

.form-control {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    box-sizing: border-box;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #bfc1c3;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
    border-radius: 0;
    width: 200px;
}

.accordion__row {
    padding: .78947em .63158em .78947em .63158em;
    background-color: #f8f8f8;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.accordion__body {
    overflow: hidden;
    border-top: 1px solid #f8f8f8;
}

.accordion__body__row:last-child {
    border-bottom: none;
}

.accordion__body__row {
    border-bottom: 1px solid #bfc1c3;
    overflow: auto;
    margin: 0;
    display: table;
    width: 100%;
}

.accordion__body__row__left {
    padding: .52632em .63158em .52632em .52632em;
    width: 42%;
    background-color: white;
    vertical-align: top;
    display: table-cell;
}

.accordion__body__row__right {
    padding: .52632em .63158em .52632em 0;
    background-color: white;
    display: table-cell;
}

.accordion {
    margin: 0;
    overflow: auto;
    border-top: 1px solid #bfc1c3;
    border-bottom: 1px solid #bfc1c3;
}

.float--right {
    float: right !important;
}

.toggle {
    display: inline-block;
    white-space: nowrap;
}

.toggle__button--active {
    background-color: #00823b;
    color: #fff;
    text-decoration: none;
    padding: .26316em .52632em .15789em .52632em;
    margin-right: 20px;
}

.toggle__button--inactive {
    color: #0b0c0c;
    background-color: #bfc1c3;
    text-decoration: none;
    padding: .26316em .52632em .15789em .52632em;
    margin-left: 20px;
}

.inline {
    display: inline-block;
}

.divider--bottom {
    border-bottom: 1px solid #bfc1c3;
}

.alert--success {
    background-color: #e9f5f4;
    border-color: #28a197;
}

.alert {
    clear: both;
    border-left-width: .15789em;
    border-left-style: solid;
    margin: 0 0 1.05263em;
    padding: .89474em .78947em;
}

.border__top-bottom {
    border-top: 1px solid #bfc1c3;
    border-bottom: 1px solid #bfc1c3;
}

.border__top-bottom:first-of-type {
    border-top: 0;
}

.greybg {
    background-color: #f8f8f8;
}

.accordion__row__left {
    width: 35%;
    display: table-cell;
    padding: 0 .52632em 0 0;
    box-sizing: border-box;
}

.accordion__row__right {
    width: 50%;
    display: table-cell;
    box-sizing: border-box;
}

.bold {
    font-family: "nta",Arial,sans-serif;
    line-height: 1.31579;
    text-transform: none;
    font-weight: 700;
    font-size: 140%;
}

.accordion__button, .accordion__button:visited {
    color: #005ea5;
}

.link--no-underline {
    text-decoration: none;
}

.grid-layout {
    width: 100%;
    display: table;
}

.grid-layout__column--3-4 {
    vertical-align: top;
    display: table-cell;
    box-sizing: border-box;
    width: 75%;
}

.font-xxsmall {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
}

code.snippet--inline {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #6f777b;
}

.table__col--1-4 {
    width: 25%;
}

.endpoint_group {
    font-size: 16px;
    border: 1px solid #dee0e2;
    border-left-width: 0.3em;
    margin: .42105em 0 .84211em;
    padding: .21053em .42105em;
}

.http-verb--get {
    background-color: #2b8cc4;
}

.http-verb {
    color: white;
    border-radius: 5px;
    padding: 0.2em 0.5em 0.1em;
    margin-bottom: 0.2em;
    margin-left: 0.4em;
    font-size: 16px;
}

.parameter-required {
    color: #f47738;
    font-size: 14px;
    font-weight: normal;
}

.code--slim {
    border: 1px solid #DFE0E7;
    border-radius: 4px;
    padding: 2px 4px;
    display: inline-block;
    background-color: #F7F7F7;
    line-height: 1.1em;
}

.code--block {
    border: none;
    margin: 0;
    line-height: 1.5em;
    padding: 10px;
    word-wrap: break-word;
    background-color: #f8f8f8;
}

.smallWidth {
    width: 10%;
}