@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <section>
        <div class="container text-center" style="padding-top: 20px;">
            <h1 class="s-header"><strong>API LIFECYCLE</strong></h1>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>API Versioning</h2>
                    <p>
                        There is one RAML file per API Version.<br/>
                        The API Gateway will select the version depending of the Accept Header sent in the request.<br/>
                        <code>Accept: application/vnd.scapig.1.0+json</code> will use version 1.0.
                    </p>

                    <h2>API Status</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Status</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Prototyped</th>
                                <td>The API is available for developers to use. <br/>
                                    However they will be warned on the developer hub that they are very likely to change and should expect breaking changes</td>
                            </tr>
                            <tr>
                                <th scope="row">Published</th>
                                <td>The API is in Production mode. Breaking changes are not allowed at this change</td>
                            </tr>
                            <tr>
                                <th scope="row">Deprecated</th>
                                <td>The version will soon reach end of life. Developers can not subscribe anymore to this version and existing
                                    applications are advised to migrate to a new version.</td>
                            </tr>
                            <tr>
                                <th scope="row">Retired</th>
                                <td>The version is not available anymore on the platform and the gateway will reject requests using this version.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
}

@include.template("Scapig - API Lifecycle", main)
