@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <section>
        <div class="container text-center" style="padding-top: 20px;">
            <h1 class="s-header"><strong>ARCHITECTURE - COMPONENTS</strong></h1>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Component</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">scapig-gateway</th>
                            <td>This is the API Gateway. It validates and proxy the requests to the service.</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-developer-hub</th>
                            <td>This is the frontend where third party developer can view the API Documentation,
                            create their own application and subscribe to the APIs</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-developer</th>
                            <td>This is the backend with the storage of the third party developer which have registered</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-application</th>
                            <td>This is the backend which stores and retrieves the applications of the platform</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-scope</th>
                            <td>This is the backend which stores and retrieves the Oauth 2.0 scopes published on the platform</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-definition</th>
                            <td>This is the backend which stores and retrieves the API Definitions published on the platform</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-oauth</th>
                            <td>This is the frontend which handles the Oauth 2.0 flow.</td>
                        </tr>
                        <tr>
                            <th scope="row">scapi-requested-authority</th>
                            <td>This is the backend which handles the transactions of the Oauth user flow.</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-delegated-authority</th>
                            <td>This is the backend which stores and retrieves the token created on the platform</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-scripts</th>
                            <td>This is a repository which contains all the scripts to start up the platform</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-publisher</th>
                            <td>This is a service which handles the publishing of the APIs from a RAML definition</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
}

@include.template("Scapig - API", main)
