@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <section>
        <div class="container text-center" style="padding-top: 20px;">
            <h1 class="s-header"><strong>ARCHITECTURE - COMPONENTS</strong></h1>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Component</th>
                                <th scope="col">Description</th>
                                <th scope="col">Default port</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">scapig-gateway</th>
                            <td>This is the API Gateway. It validates and proxy the requests to the service.</td>
                            <td>9018</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-developer-hub</th>
                            <td>This is the frontend where third party developer can view the API Documentation,
                            create their own application and subscribe to the APIs.</td>
                            <td>9020</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-developer</th>
                            <td>This is the backend with the storage of the third party developer which have registered.</td>
                            <td>9016</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-application</th>
                            <td>This is the backend which stores and retrieves the applications of the platform.</td>
                            <td>9012</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-scope</th>
                            <td>This is the backend which stores and retrieves the Oauth 2.0 scopes published on the platform.</td>
                            <td>9011</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-api-definition</th>
                            <td>This is the backend which stores and retrieves the API definitions published on the platform.</td>
                            <td>9010</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-oauth</th>
                            <td>This is the frontend which handles the Oauth 2.0 flow.</td>
                            <td>9015</td>
                        </tr>
                        <tr>
                            <th scope="row">scapi-requested-authority</th>
                            <td>This is the backend which handles the transactions of the Oauth user flow.</td>
                            <td>9014</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-delegated-authority</th>
                            <td>This is the backend which stores and retrieves the token created on the platform.</td>
                            <td>9013</td>
                        </tr>
                        <tr>
                            <th scope="row">scapig-publisher</th>
                            <td>This is a service which handles the publishing of the APIs from a RAML definition.</td>
                            <td>9019</td>
                        </tr>
                        </tbody>
                    </table>

                    <p class="small">The distribution comes also with <b>login-example</b> which is a login stub for the Oauth 2.0 flow,
                        <b>api-example</b> which is an Hello World API as well as mongo and a loadbalancer.</p>
                </div>
            </div>
        </div>
    </section>
}

@include.template("Scapig - Components", main)
