@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <section>
        <div class="container text-center" style="padding-top: 20px;">
            <h1 class="s-header"><strong>API GATEWAY - SANDBOX</strong></h1>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>What is it for?</h2>
                    API Producers can expose a Sandbox implementation so that third-party developers can integrate with
                    the APIs without interfering with Production.<br/>

                    <h2>How does it work?</h2>
                    When the consumer utilizes the Sandbox credentials, the request will be routed to /sandbox/request_path.<br/>
                    An example API can be seen there: <a href="https://github.com/scapig/api-example">https://github.com/scapig/api-example</a>
                </div>
            </div>
        </div>
    </section>
}

@include.template("Scapig - Sandbox", main)
