@(title: String, html: Html)
<html>
    <head><title>@title</title></head>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <body>
        <header>
            <div id ="global-header">
                <div class="header-wrapper">
                    <div class="header-global">
                        <div class="header-logo" id="logo">
                            SCAPIG
                        </div>
                    </div>
                    <div class="header-proposition">
                        <div class="content">
                            <nav id="proposition-menu" class="header__menu" role="navigation">
                                <a href="/" class="header__menu__proposition-name">Developer Hub</a>
                                <ul id="proposition-links" class="header__menu__proposition-links">
                                    <li>
                                        <a class="align--middle inline-block " href="/apis">APIs</a>
                                    </li>
                                    <li>
                                        <a class="align--middle inline-block " href="/applications">Applications</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="centered-content">
                <div class="service-info ">
                    <div id="user-nav-links" class="header__menu__proposition--sub-header">
                        <ul class="header__menu__proposition-links">
                            <li>
                                <a class="align--middle inline-block link-style" href="/register">Register</a>
                            </li>
                            <li class="hard--right">
                                <a class="align--middle inline-block link-style" href="/login">Sign in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <main id="wrapper">
            <div class="centered-content">
                <h1>@title</h1>

                <div class="grid-layout__column--2-3">
                    @html
                </div>
            </div>
        </main>
    </body>
</html>
