@import org.webjars.play.WebJarsUtil

@(title: String, html: Html)(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)
<html>
    <head>
        <title>@title</title>
            @Html(webJarsUtil.css("bootstrap.min.css"))
            @Html(webJarsUtil.css("bootstrap-theme.min.css"))
        <link rel="stylesheet" href="@assets.path("styles/scapig.css")">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">SCAPIG</a>
                </div>
                <nav class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/get-started">Get Started</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Architecture
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/architecture/diagram">Diagram</a></li>
                                <li><a href="/architecture/components">Components</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                API Publisher
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/api-publisher/howto">How to</a></li>
                                <li><a href="/api-publisher/raml">RAML file</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Developer Hub
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/developer-hub/api-documentation">API Documentation</a></li>
                                <li><a href="/developer-hub/application">Application</a></li>
                                <li><a href="/developer-hub/create-application">Create an application</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                API Gateway
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/api-gateway/routing">Routing</a></li>
                                <li><a href="/api-gateway/authorization">Authorization</a></li>
                                <li><a href="/api-gateway/example">Example</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://github.com/scapig">GITHUB</a></li>
                        <li><a href="http://developer.scapig.com">TRY IT</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
        @html
        </main>
        @Html(webJarsUtil.script("jquery.min.js"))
        @Html(webJarsUtil.script("bootstrap.min.js"))
    </body>
</html>
