@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <section>
        <div class="container text-center" style="padding-top: 20px;">
            <h1 class="s-header"><strong>GET STARTED - CREATE AN APPLICATION</strong></h1>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">
                    You can see an example of the developer hub at <a href="http://developer.scapig.com/">http://developer.scapig.com/</a><br/>
                    You will need to register to be able to create an application.<br/>

                    The application contains:<br/>
                    I. Application Details<br/>
                    1. Name: This will be shown to the end user when they authorize the application to access their data.<br/>
                    2. Description: Optional. An internal field to describe your application<br/>
                    3. Redirect URIs: The whitelist of URIs which are allowed when redirecting the user to the application server for the authorization_code flow.<br/>
                    4. Rate limit tiers: The level of rate limiting required for the application. It can be one of GOLD, SILVER or BRONZE.<br/>

                    II. Subscriptions<br/>
                    This contains the list of APIs on the platform and allow the developer to subscribe to the API.<br/>

                    III. Sandbox and Production Credentials<br/>
                    1. Client ID: This is the Oauth client_id of your application<br/>
                    2. Client Secret: This is the Oauth client_secret of your application<br/>
                    3. Server Token: This is the Oauth server_token of your application. You can access Application Restricted endpoints with this token.<br/>

                    When using Sandbox credentials, the API call will be routed to the sandbox endpoint (starting with /sandbox).<br/>
                    When using Production credentials, the API call will be routed to the live endpoint.
                </div>
            </div>
        </div>
    </section>
}

@include.template("Scapig - Get Started", main)
