@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <div>
        When a developer wants to integrate with your secure APIs, he will need to create an application.
        The application will contain the following:
        <table>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Redirect URI</td>
                <td>This is the uri the user will be redirected to once he completes his Oauth 2.0 journey</td>
            </tr>
            <tr>
                <td>Sandbox Credentials</td>
                <td>Those are the client_id, client_secret and server_token of the Sandbox environment.
                    When using those, the API Gateway will proxy the user to the Sandbox endpoint.
                </td>
            </tr>
            <tr>
                <td>Production Credentials</td>
                <td>Those are the client_id, client_secret and server_token of the Production environment.
                    When using those, the API Gateway will proxy the user to the Production endpoint.
                </td>
            </tr>
            <tr>
                <td>Rate Limit Tiers</td>
                <td>The application will be given a rate limit tier. This will determine how many requests per minute and application can hit the API Gateway
                The possible values are:
                    <ul>
                        <li>BRONZE</li>
                        <li>SILVER</li>
                        <li>GOLD</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
}

@include.template("Scapig - API", main)
