@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <div>
        The developer Hub allows third party developer to see the documentation of the APIs exposed,
        register themselves, create their applications to start integrating with the APIs.

        An example of the developer hub can be found <a href="/">here</a>

        The applications are required to subscribe to an API in order to integrate with it.
        That facilitates the lifecycle of an API as you will have a good vision of which application is using which API
        and be able to target the right people when sending notifications about a change in the API.
    </div>
}

@include.template("Scapig - Developer Hub", main)
