@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <div>
        The API Gateway component is scapig-gateway.

        It will validate the authorization and proxy the request if successful.

        The following validations are done:
        <h4>API Endpoint Identification</h4>
            The API Gateway will identify which API and endpoint matches the request.
            A 404 (Not Found) will be returned if no endpoint can be identified.
        <h4>Subscriptions</h4>
            Should the endpoint be Application or User, the API Gateway will validate that the application is
        subscribed to the API.
            A 403 (Forbidden) will be returned in the event it is not.
        <h4>Authorization</h4>
        For an Application-restricted endpoint, the API Gateway will validate that the server token is valid
        For a User-restricted endpoint, the API Gateway will validate that the token is valid and that it contains the
        scope required by the endpoint.
        <h4>Rate Throttling</h4>
        The API Gateway will validate that the application did not reach yet its threshold of the number of calls authorized.
        A 429 (Too Many Requests) will be returned in the event it has.
        <h4>Proxy</h4>
        If all the validations above are successful, the request will then be proxied to its end service.
        When the token used in the header is a <b>Sandbox</b> token, this will be to the Sandbox endpoint.
        Otherwise, it will be to the live endpoint.
    </div>
}

@include.template("Scapig - API Publisher", main)
