@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <section>
        <div class="container text-center" style="padding-top: 20px;">
            <h1 class="s-header"><strong>GET STARTED</strong></h1>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h2>Prerequisite</h2>
                    <p>Docker is required to run the packaged version of Scapig.</p>

                    <a href="https://www.docker.com/"><img src="/assets/images/docker.png" class="img-fluid img-thumbnail" alt="Docker"/></a>

                    <h2>Install</h2>
                    Download the scapig docker file <a href="https://raw.githubusercontent.com/scapig/scripts/master/docker-compose.yml" download>docker-compose.yml</a> and
                    run the following:
                    <pre>docker swarm init<br/>docker stack deploy --compose-file docker-compose.yml scapig</pre>
                    <p>This will start all the scapig components.</p>
                </div>
            </div>
        </div>
    </section>
}

@include.template("Scapig - Get Started", main)
