@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <section>
        <div class="container text-center" style="padding-top: 50px; min-height:300px;">
            <h1 class="s-header"><strong>SCAPIG</strong></h1>
            <p class="s-subheader">An open-source <strong>API Manager</strong></p>
        </div>
    </section>
    <section style="background-color: white;">
        <div class="container landing">
            <div class="row" style="padding-top: 50px;">
                <div class="col-sm-4 text-center">
                    <span class="glyphicon glyphicon-road" style="font-size: 96px; color:#4CAF50;"></span>
                    <h3>What is it?</h3>
                    It is an out-of-box API Platform which contains all the main components needed to expose your APIs
                    such as an API Gateway, a Developer Hub and an API publisher.
                </div>
                <div class="col-sm-4 text-center">
                    <span class="glyphicon glyphicon-cog" style="font-size: 96px; color:#4CAF50;"></span>
                    <h3>How does it work?</h3>
                    <p>Producers can publish their APIs through the publisher.<br/>
                        Consumers can then view the documentation on the Developer Hub and access the APIs through the Gateway.
                    </p>
                </div>
                <div class="col-sm-4 text-center">
                    <span class="glyphicon glyphicon-check" style="font-size: 96px; color:#4CAF50;"></span>
                    <h3>What are the main features?</h3>

                    <strong>
                    Oauth 2.0 Integration<br/>
                    Rate limiting<br/>
                    Scalable<br/>
                    Pluggable<br/>
                    Versioning<br/>
                    Active/Active architecture
                    </strong>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="row">
                <h1 class="s-header-2 text-center">SCALABLE</h1>
                <p class="s-header-text">
                    Scapig has a microservice architecture.<br/>
                    This allows you to selectively increase the capacity of the components which are under more strain.<br/><br/>
                    Scapig data is stored in <a href="https://docs.mongodb.com/">MongoDB</a> which has great support on replication
                    over multiple datacenters.<br/><br/>
                </p>
            </div>
        </div>
    </section>
    <section style="background-color: white;">
        <div class="container landing">
            <div class="row">
                <h1 class="s-header-2 text-center">PLUGGABLE</h1>
                <p class="s-header-text">
                    Scapig is based on a series of microservices communicating through REST HTTP requests.<br/>
                    It is all open-source so that they can be replaced by bespoke components if needed.
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="row">
                <h1 class="s-header-2 text-center">TRY IT</h1>
                <p class="s-header-text">
                    Try it at <a target="_blank" href="http://developer.scapig.com"/>http://developer.scapig.com&nbsp;<span style="font-size: 12px;" class="glyphicon glyphicon-new-window"/></a>
                </p>
            </div>
        </div>
    </section>

}

@include.template("Scapig - Open-Source API Manager", main)
