@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <section>
        <div class="container text-center" style="padding-top: 50px; min-height:300px;">
            <h1 class="s-header"><strong>SCAPIG</strong></h1>
            <p class="s-subheader">An open-source <strong>API Manager</strong></p>
        </div>
    </section>
    <section style="background-color: white;">
        <div class="container landing">
            <div class="row" style="padding-top: 50px;">
                <div class="col-sm-4 text-center">
                    <span class="glyphicon glyphicon-road" style="font-size: 96px; color:#4CAF50;"></span>
                    <h3>What is it?</h3>
                    It is an out-of-box API Platform which contains all the main components needed to expose your APIs
                    such as an API Gateway, a Developer Hub and an API publisher.
                </div>
                <div class="col-sm-4 text-center">
                    <span class="glyphicon glyphicon-cog" style="font-size: 96px; color:#4CAF50;"></span>
                    <h3>How does it work?</h3>
                    <p>Producers can expose their APIs with the Publisher.<br/>
                        Developers can view the API documentation on the Developer Hub.<br/>
                        Consumers can then access the APIs through the Gateway.
                    </p>
                </div>
                <div class="col-sm-4 text-center">
                    <span class="glyphicon glyphicon-check" style="font-size: 96px; color:#4CAF50;"></span>
                    <h3>What are the main features?</h3>

                    Oauth 2.0 Integration<br/>
                    Rate limiting<br/>
                    Scalable<br/>
                    Pluggable<br/>
                    Versioning<br/>
                    Active/Active architecture
                </div>
            </div>
            <br/>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="row">
                <h1 class="s-header-2 text-center">SCALABLE & PLUGGABLE</h1>
                <div class="row" style="padding-top: 50px;">
                    <div class="col-sm-3 text-center">
                        <span class="glyphicon glyphicon-ok-circle" style="font-size: 50px; color:#4CAF50;"></span><br/>
                        <span style="font-size: 25px;font-weight: bold;">Microservice Architecture</span>
                    </div>
                    <div class="col-sm-3 text-center">
                        <span class="glyphicon glyphicon-ok-circle" style="font-size: 50px; color:#4CAF50;"></span><br/>
                        <span style="font-size: 25px;font-weight: bold;">Powered with Scala</span>
                    </div>
                    <div class="col-sm-3 text-center">
                        <span class="glyphicon glyphicon-ok-circle" style="font-size: 50px; color:#4CAF50;"></span><br/>
                        <span style="font-size: 25px;font-weight: bold;">MongoDB Storage</span>
                    </div>
                    <div class="col-sm-3 text-center">
                        <span class="glyphicon glyphicon-ok-circle" style="font-size: 50px; color:#4CAF50;"></span><br/>
                        <span style="font-size: 25px;font-weight: bold;">Open Source</span>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </section>
    <section style="background-color: white;">
        <div class="container landing" style="padding-bottom: 50px;">
            <div class="row">
                <h1 class="s-header-2 text-center">TRY IT</h1>
                <div class="text-center">
                    <a target="_blank" href="http://developer.scapig.com">
                        <span class="glyphicon glyphicon-play-circle" style="font-size: 96px; color:#0000CD;"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

}

@include.template("Scapig - Open-Source API Manager", main)
