@import org.webjars.play.WebJarsUtil

@()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <div>
        The component publishing the APIs on the platform is the scapig-publisher.

        To publish your APIs on the platform, you will need to create a <a href="https://raml.org/">RAML definition</a>
        file which you can then inject in the API Platform through the scapig-publisher.

        An example of a RAML file can be found here: scapig-hello-world-api
    </div>

    <code>
        curl -XPOST http://localhost:8040/publish -d %40file.raml
    </code>
}

@include.template("Scapig - API Publisher", main)
